openapi: 3.0.3
info:
  title: Office of the Federal Register API
  description: >-
    Search, browse and learn about the Federal Register. Federal Register 2.0 is
    the unofficial daily publication for rules, proposed rules, and notices of
    Federal agencies and organizations, as well as executive orders and other
    presidential documents.
  version: v1
  contact:
    name: Office of the Federal Register
    url: https://www.federalregister.gov/developers/documentation/api/v1
servers:
  - url: https://www.federalregister.gov/api/v1
    description: Federal Register API
paths:
  /documents.json:
    get:
      summary: Search Federal Register Documents
      description: >-
        Search and filter Federal Register documents (rules, proposed rules,
        notices, presidential documents).
      operationId: searchDocuments
      parameters:
        - name: per_page
          in: query
          description: Number of results per page (max 1000).
          schema:
            type: integer
        - name: page
          in: query
          description: Page number of results.
          schema:
            type: integer
        - name: order
          in: query
          description: Order of results (relevance, newest, oldest, executive_order_number).
          schema:
            type: string
        - name: conditions[term]
          in: query
          description: Full text search term.
          schema:
            type: string
        - name: conditions[publication_date][gte]
          in: query
          description: Publication date greater than or equal to (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: conditions[publication_date][lte]
          in: query
          description: Publication date less than or equal to (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: conditions[type][]
          in: query
          description: Document type (RULE, PRORULE, NOTICE, PRESDOCU).
          schema:
            type: string
        - name: conditions[agencies][]
          in: query
          description: Agency slug filter.
          schema:
            type: string
      responses:
        '200':
          description: A paginated list of Federal Register documents.
  /documents/{document_number}.json:
    get:
      summary: Fetch a Single Document
      description: Retrieve a single Federal Register document by its document number.
      operationId: getDocument
      parameters:
        - name: document_number
          in: path
          required: true
          description: The document number.
          schema:
            type: string
      responses:
        '200':
          description: A single Federal Register document.
  /documents/{document_numbers}.json:
    get:
      summary: Fetch Multiple Documents
      description: Retrieve multiple Federal Register documents by comma-separated document numbers.
      operationId: getDocuments
      parameters:
        - name: document_numbers
          in: path
          required: true
          description: Comma-separated document numbers.
          schema:
            type: string
      responses:
        '200':
          description: Federal Register documents.
  /documents/facets/{facet}:
    get:
      summary: Document Counts By Facet
      description: Aggregate document counts grouped by a facet (daily, weekly, monthly, yearly, agency, topic, section, type, subtype).
      operationId: getDocumentFacets
      parameters:
        - name: facet
          in: path
          required: true
          description: Facet to aggregate by.
          schema:
            type: string
      responses:
        '200':
          description: Facet counts.
  /issues/{publication_date}.json:
    get:
      summary: Fetch a Federal Register Issue Table of Contents
      description: Retrieve the table of contents for a Federal Register issue by date.
      operationId: getIssue
      parameters:
        - name: publication_date
          in: path
          required: true
          description: Publication date (YYYY-MM-DD).
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Issue table of contents.
  /public-inspection-documents.json:
    get:
      summary: Search Public Inspection Documents
      description: Search documents currently on public inspection.
      operationId: searchPublicInspectionDocuments
      responses:
        '200':
          description: Public inspection documents.
  /public-inspection-documents/{document_number}.json:
    get:
      summary: Fetch a Single Public Inspection Document
      operationId: getPublicInspectionDocument
      parameters:
        - name: document_number
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A single public inspection document.
  /public-inspection-documents/current.json:
    get:
      summary: Fetch Current Public Inspection Documents
      description: Documents currently on public inspection.
      operationId: getCurrentPublicInspectionDocuments
      responses:
        '200':
          description: Current public inspection documents.
  /agencies:
    get:
      summary: List Agencies
      description: List all federal agencies represented in the Federal Register.
      operationId: listAgencies
      responses:
        '200':
          description: List of agencies.
  /agencies/{slug}:
    get:
      summary: Fetch a Single Agency
      operationId: getAgency
      parameters:
        - name: slug
          in: path
          required: true
          description: The agency slug.
          schema:
            type: string
      responses:
        '200':
          description: A single agency.
  /images/{identifier}:
    get:
      summary: Fetch a Single Image Package
      operationId: getImage
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Image package.
  /suggested_searches:
    get:
      summary: List Suggested Searches
      description: List the available suggested searches by topic section.
      operationId: listSuggestedSearches
      parameters:
        - name: conditions[sections]
          in: query
          description: Filter to a specific section.
          schema:
            type: string
      responses:
        '200':
          description: Suggested searches.
  /suggested_searches/{slug}:
    get:
      summary: Fetch a Single Suggested Search
      operationId: getSuggestedSearch
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A single suggested search.
